<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navbar -->
<div th:insert="navbarFragments::navbarAdmin"></div>

<!-- Tickets -->
<div th:fragment="innerWindow" style=" margin-top:10%; padding: 0.5%">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('dropdown-toggle').dropdown()
        });
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <li id="topBar" class="list-group-item" >
        <div class="d-flex justify-content-between">
                <form class="input-group" style="width: 20%">
                <input id="searchBar" type="text" class="form-control" placeholder="...">
                <button id="search" type="submit" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" >
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                </form>
            <div>
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Filtern
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gruppieren
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <div id="bottomOuterBorder" class="container-fluid" >
        <a th:each="ticket: ${tickets}" id="ticketBox" href="#" class="list-group-item list-group-item-action list-group-item-light mb-2">
            <div class="d-flex justify-content-between" >
                <div class="container">
                    <div class="row">
                        <div th:if="${ticket.status.getDisplayValue() == 'Offen'}" class="col-1 openBadge badge badge-secondary">Offen</div>
                        <div th:if="${ticket.status.getDisplayValue() == 'In Bearbeitung'}" class="col-1 progressBadge badge badge-secondary">In Bearbeitung</div>
                        <div th:if="${ticket.status.getDisplayValue() == 'Erledigt'}" class="col-1 finishedBadge badge badge-secondary">Erledigt</div>
                        <div th:text="${'[#' + ticket.ticketID + ']' + ' ' + ticket.title}" class="col-10 fw-bold"/>
                    </div>
                </div>
                <div>
                    <div th:if="${ticket.category.getDisplayValue() == 'Inaktivität'}" th:text="${ticket.category.displayValue}" class="badge rounded-pill text-bg-danger inactivityBadge"/>
                    <div th:if="${ticket.category.getDisplayValue() == 'Technisches Problem'}" th:text="${ticket.category.displayValue}" class="badge rounded-pill text-bg-danger technicalBadge"/>
                    <div th:if="${ticket.category.getDisplayValue() == 'Sonstiges'}" th:text="${ticket.category.displayValue}" class="badge rounded-pill text-bg-danger elseBadge"/>
                </div>
            </div>
        </a>
        <!--<a  id="ticketBox"
            href="#"
           class="list-group-item list-group-item-action list-group-item-light ticketBox">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"><span id="progressBadge"
                                                   class="badge badge-secondary">In Bearbeitung</span> [#1234]
                            DarkoCutokovic antwortet nicht
                        </div>
                    </div>
                </div>
                <div><span class="badge rounded-pill text-bg-danger inactivityBadge">Inaktivität</span></div>
            </div>
        </a>

        <a id="ticketBox" style="margin-bottom: 10px"
           href="#"
           class="list-group-item list-group-item-action list-group-item-light ticketBox">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"><span id="openBadge" class="badge badge-secondary">Offen</span> [#1234]
                            DarkoCutokovic antwortet nicht
                        </div>
                    </div>
                </div>
                <div><span class="badge rounded-pill text-bg-danger inactivityBadge">Inaktivität</span></div>
            </div>
        </a>-->
    </div>
</div>
</ul>
</div>
</body>
</html>