<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expanded Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

<!-- Navbar  class="col top-bar-text"-->
<div th:fragment="expanded-ticket-user" class="box-format">
    <div class="container-fluid">
        <!-- Top Bar -->
        <div id="topBar" class="row top-bar align-items-center top-outer-border p-1">
            <div id="title" th:text="${'[#' + ticket.ticketID + ']' + ' ' + ticket.title}"
                 class="no-overflow col my-2">
            </div>
            <div id="topButtons" class="col d-flex align-items-center justify-content-end">
                <button type="button" style="max-width: 190px"
                        class="col-6 btn btn-danger no-overflow float-end mx-2 d-none d-sm-block our-button-takeback"
                        data-bs-toggle="modal" data-bs-target="#modalSubmitDelete">
                    Ticket&nbsp;zurücknehmen
                </button>
                <a th:href="@{/}" style="color: white; margin-left: 25px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                         fill="currentColor" class="bi bi-x-lg float-end mx-2" viewBox="0 0 16 16"
                         style="min-width: 32px; min-height: 32px">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </a>
            </div>
        </div>
        <!-- Top Bar end -->
        <!-- Ticket Info start -->
        <div id="ticketInfo" class="row mid-outer-border">
            <!-- Ticket Info left-->
            <div id="leftInfo" class="col-12 col-sm-10">
                <div id="date" class="row fs-10 fw-bold p-1">Datum:
                    <span th:text="${#dates.format(ticket.getDate(), 'dd.MM.yyyy HH:mm')}" style="font-weight:normal"
                          class="col"/>
                </div>
                <div id="problem" class="row fs-10 fw-bold p-1">Problembeschreibung:
                    <span th:text="${ticket.problem}"
                          style="font-weight: normal; overflow-wrap: break-word;"/>
                </div>
                <div id="status" class="row fs-10 fw-bold p-1">Status:
                    <span th:if="${ticket.status.getDisplayValue() == 'Offen'}"
                          class="openBadge badge rounded-pill col d-inline-flex align-items-center justify-content-center">Offen
                    </span>
                    <span th:if="${ticket.status.getDisplayValue() == 'In Bearbeitung'}"
                          class="progressBadge badge rounded-pill col d-inline-flex align-items-center justify-content-center">In Bearbeitung
                    </span>
                    <span th:if="${ticket.status.getDisplayValue() == 'Erledigt'}"
                          class="finishedBadge badge rounded-pill col d-inline-flex align-items-center justify-content-center">Erledigt
                    </span>
                </div>
                <div id="category" class="row fs-10 fw-bold p-1">Kategorie:
                    <span th:if="${ticket.category.getDisplayValue() == 'Inaktivität'}"
                          th:text="${ticket.category.displayValue}"
                          class="inactivityBadge badge rounded-pill d-inline-flex align-items-center justify-content-center"/>
                    <span th:if="${ticket.category.getDisplayValue() == 'Technisches Problem'}"
                          th:text="${ticket.category.displayValue}"
                          class="technicalBadge badge rounded-pill d-inline-flex align-items-center justify-content-center"/>
                    <span th:if="${ticket.category.getDisplayValue() == 'Sonstiges'}"
                          th:text="${ticket.category.displayValue}"
                          class="elseBadge badge rounded-pill d-inline-flex align-items-center justify-content-center"/>
                </div>
                <div id="priority" class="row fs-10 fw-bold p-1">Priorität:
                    <span class="openBadge badge rounded-pill d-inline-flex align-items-center justify-content-center"> Wichtig </span>
                </div>
            </div>
            <!-- Ticket Info right -->
            <div id="rightButtons" class="col-12 col-sm-2 align-self-center p-2 p-sm-0">
                <div class="row">
                    <th:block th:if="${ticket.lastRequest.before(compareDate)}">
                        <form th:action="@{/ticket/status(id=${ticket.ticketID})}" th:object="${ticket}"
                              method="post" class="d-flex justify-content-start">
                            <button type="submit" class="btn no-overflow our-button">Status anfragen</button>
                        </form>
                    </th:block>
                    <th:block th:if="${compareDate.before(ticket.lastRequest)}">
                        <form class="d-flex justify-content-center">
                            <button type="button" class="btn no-overflow our-button" disabled>Status anfragen
                            </button>
                        </form>
                    </th:block>
                </div>
                <div class="row d-flex d-sm-none justify-content-start p-2">
                    <button type="button" style="max-width: 190px" class="col btn btn-danger no-overflow"
                            data-bs-toggle="modal" data-bs-target="#modalSubmitDelete">
                        Ticket&nbsp;zurücknehmen
                    </button>
                </div>
            </div>
        </div>
        <!-- Ticket Info end-->
        <!-- Chat -->
        <div id="chatBox" class="row bottom-outer-border chat-height justify-content-center">
            <div id="messageBox" class="row align-content-center justify-content-center" th:each="notification: ${notifications}">
                <div th:if="${notification.isRequest()}" th:text="'Status angefragt am ' + ${#dates.format(notification.getDate(), 'dd.MM.yyyy HH:mm')}"
                     class="row statusBadge rounded-pill d-inline-flex align-items-center justify-content-center" style="max-width:300px"/>
            </div>
            <div id="sendBar" class="row align-self-end">
                <form class="input-group py-2" id="text-input-bar">
                    <input id="searchBar" type="text" class="form-control input-field" placeholder="Send message..." disabled>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for takeback -->
    <div class="modal fade" id="modalSubmitDelete" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header header-element">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sind Sie sich sicher?</h5>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie dieses Ticket wirklich zurücknehmen? Der Vorgang kann nicht rückgängig gemacht
                        werden. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <form th:action="@{/ticket/delete(id=${ticket.ticketID})}" th:object="${ticket}"
                          method="post">
                        <button type="submit" class="btn btn-danger no-overflow">
                            Ticket zurücknehmen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>