body{
    background-color: #E8E9F3;
}

#bottomOuterBorder{
    border: 2px solid #272635;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E8E9F3;
}
#topBar{
    border-left-color: #272635;
    border-right-color: #272635;
    border-top-color: #272635;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-width: 1.5px;
    background-color: #272635;
}

#searchBar{
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search{
    background-color: #A6A6A8;
    color: white;
    border-color: black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}
#filter{
    background-color: #A6A6A8;
    color: white;
    border-color: black;
}
#dropdownMenuButton1{
    background-color: #A6A6A8;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: black;
}
#dropdownMenuButton2{
    background-color: #A6A6A8;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
}
#ticketBox{
    border-radius: 10px;
    margin-top: 10px;
}
.finishedBadge{
    width: 100px;
    background-color: #2a6749
}

.progressBadge{
    width: 100px;
    background-color: #fec004
}
.openBadge{
    width: 100px;
    background-color: #ef3b08
}
.inactivityBadge{
    max-width: 150px;
    background-color: #75B9BE;
}

.technicalBadge{
    max-width: 150px;
    background-color: #EE7674;
}

.elseBadge{
    max-width: 150px;
    background-color: #987284;
}

.no-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}


#confirm:hover {
    cursor: pointer;
}

#deny:hover {
    cursor: pointer;
}