
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.top-bar{
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-width: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: darkslategray;
}

.chat-height {
    min-height: 300px;
}

.bottom-outer-border{
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-outer-border{
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.mid-outer-border{
    border: 2px solid black;
    background-color: white;
    border-bottom: none;
}


.bottom-bar{
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-field {
    border-color:black;
    border-radius:10px;
}

.error-message {
    color: red;
    font-size: small;

}

.top-bar-text {
    color: white;
    font-weight:bold;
}


.box-format {
    padding:0.5%;
}

.no-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.finishedBadge{
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: green;
}
.navbar-distance{
    padding-top: 100px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%
}

.progressBadge{
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: orange
}

.openBadge{
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: red
}

.inactivityBadge{
    background-color: deepskyblue;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 70%;
    text-align: center;
}

.technicalBadge{
    background-color: darkorange;
    max-width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 70%;
    text-align: center;
}

.elseBadge{
    background-color: dimgray;
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 70%;
    justify-content: center;
}

.statusBadge{
    background-color: dimgray;
    color: white;
    font-size: small;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 250px;
    text-align: center;
}

.button-width{
    max-width: 190px;
}
.navbar-body{
    background-color: darkslategray;
}

.navbar-icon-color{
    background-color: darkslategray;
    color: white;
}
.burger-color{
    background-color: darkslategray;
    color: white;
    border: none;
}
.button-color{
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 10px;

}

select{
    -webkit-appearance:listbox !important;
}
