body{
    background-color: #E8E9F3;
}

#bottomOuterBorder1{
    border: 2px solid #272635;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E8E9F3;
}
#bottomOuterBorder2{
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E8E9F3;
}
#bottomOuterBorder{
    border: 2px solid #272635;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E8E9F3;
}
#topBar{
    border-left-color: #272635;
    border-right-color: #272635;
    border-top-color: #272635;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-width: 1.5px;
    background-color: #272635;
}

#searchBar{
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search{
    background-color: #A6A6A8;
    color: white;
    border-color: black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}
#filter{
    background-color: #A6A6A8;
    color: white;
    border-color: black;
}

#ticketBox{
    border-radius: 10px;
    margin-top: 10px;
}

.form-check-label{
    font-size: large;
}

