<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/design.css">
    <title>Ticketsystem - Dashboard</title>
</head>
<body id="min-body-height">
<!-- Navbar -->
<th:block th:insert="fragments/navbarFragments::navbarAdmin" sec:authorize="hasRole('ROLE_ADMIN')"/>
<th:block th:insert="fragments/navbarFragments::navbarUser" sec:authorize="hasRole('ROLE_USER')"/>




<!-- Tickets -->

<div th:fragment="innerWindow" class="navbar-distance" id="innerWindowFragment">
    <!--Select 2 Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.sortDropdown').select2({
                minimumResultsForSearch: -1,
                width: 'element'
            });
        });
    </script>

    <script src="/js/ticketSelection.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <li id="topBar" class="list-group-item">
        <div class="d-flex justify-content-between">
            <form class="input-group search-bar-width" style="padding-right: 50px" onsubmit="return false">
                <input id="searchBar" type="text" class="form-control shadow-none" placeholder="...">
                <button id="search" type="button" class="btn shadow-none" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
            <div class="d-flex align-items-center">
                <a class="dropdown" role="button" id="filterIcon" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                   style="background:none; border:none; color: white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-funnel" viewBox="0 0 16 16" style="margin-right: 5px">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu notification-dropdown dropdown-menu-lg-end dd-outer filter-dropdown"
                    aria-labelledby="filterIcon">
                    <li class="dd-item">
                        <label for="statusInput"> <strong>Status</strong> </label>
                        <div id="statusInput"
                             th:each="status: ${T(de.hohenheim.ticketcricket.model.entity.Status).values()}">
                            <input id="statusCheckbox" type="checkbox" th:value="${status}">
                            <label for="statusCheckbox" th:text="${status.getDisplayValue()}"></label>
                        </div>
                    </li>
                    <li class="dropdown-divider dd-divider"/>
                    <li class="dd-item">
                            <label for="categoryInput"> <strong>Kategorie</strong> </label>
                            <div id="categoryInput"
                                 th:each="category: ${T(de.hohenheim.ticketcricket.model.entity.Category).values()}">
                                <input id="categoryCheckbox" type="checkbox" th:value="${category}">
                                <label for="categoryCheckbox" th:text="${category.getDisplayValue()}"></label>
                            </div>
                    </li>
                    <li class="dropdown-divider dd-divider"/>
                    <li class="dd-item">
                        <label for="categoryInput"> <strong>Priorität</strong> </label>
                        <div id="priorityInput"
                             th:each="prio: ${T(de.hohenheim.ticketcricket.model.entity.Priority).values()}">
                            <input id="priorityCheckbox" type="checkbox" th:value="${prio}">
                            <label for="priorityCheckbox" th:text="${prio.getDisplayValue()}"></label>
                        </div>
                    </li>
                    <li class="dropdown-divider dd-divider"/>
                    <li class="dd-item">
                        <label for="categoryInput"> <strong>Lesezeichen</strong> </label>
                        <div id="bookmarkInput">
                            <input id="bookmarkCheckbox" type="checkbox" th:value="bookmark">
                            <label for="bookmarkCheckbox">Lesezeichen gesetzt</label>
                        </div>
                    </li>
                    <li class="dropdown-divider dd-divider"/>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dd-item">
                        <label for="categoryInput"> <strong>Meine Tickets</strong> </label>
                        <div id="adminInput">
                            <input id="adminCheckbox" type="checkbox" th:value="admin">
                            <label for="adminCheckbox">Mir zugewiesen</label>
                        </div>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-divider dd-divider"/>
                    <li>
                        <div id="filterButtons" class="d-flex justify-content-center">
                            <button id="filterSubmitButton" type="button" class="btn button-color float-end no-overflow"
                                    style="margin: 5px"> Filtern
                            </button>
                            <button id="filterResetButton" type="reset" class="btn button-color float-end no-overflow"
                                    style="margin: 5px"> Zurücksetzen
                            </button>
                            <button id="filterSubmitButton" type="button" class="btn button-color float-end no-overflow"
                                    style="margin: 5px"> Anwenden
                            </button>
                        </div>
                    </li>
                </ul>

                <a class="dropdown" role="button" id="sortIcon" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                   style="background:none; border:none; color: white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                         fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16"
                         style="margin-right: 5px; margin-left: 5px">
                        <path fill-rule="evenodd"
                              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu notification-dropdown dropdown-menu-lg-end dd-outer sort-dropdown"
                    aria-labelledby="filterIcon">
                    <li class="dd-item">
                        <label for="sortAttribute"> <strong>Sortieren nach</strong> </label>
                        <select class="sortDropdown" id="sortAttribute">
                            <option value="" selected disabled hidden>Bitte auswählen</option>
                            <option value="Status">Status</option>
                            <option value="Kategorie">Kategorie</option>
                            <option value="Priorität">Priorität</option>
                            <option value="Datum">Datum</option>
                        </select>
                    </li>
                    <li class="dropdown-divider dd-divider"></li>
                    <div id="sortButtons">
                        <button id="sortSubmitButton" type="button" class="btn button-color float-end no-overflow" style="margin: 5px">
                            Sortieren
                        </button>
                        <button id="sortResetButton" type="button" class="btn button-color float-end no-overflow shadow-none" style="margin: 5px">
                            Zurücksetzen
                        </button>

                    </div>
                </ul>
            </div>
        </div>
    </li>


    <div id="bottomOuterBorder" class="container-fluid" style="overflow-y: auto; max-height: calc(100vh - 200px); flex-grow: 1;">

    <div id="ticketsWithHeader">
        <!-- Info bar -->
        <div class="d-none d-md-inline">
            <div id="info-bar" class="list-group-item mb-2" style="background-color:transparent;
            border-top: none; border-right:none; border-left:none; border-radius: 0px;">
                <div class="d-flex justify-content-between">
                    <div class="container-fluid">
                        <div class="row justify-content-evenly">
                            <!-- Status -->
                            <div class="col-2 d-none d-md-inline align-self-start info-status-badge badge fw-bold "
                                 style="margin:0px 10px"
                            >
                                Status
                            </div>

                            <!-- Status angefragt -->
                            <div class="col-1 d-none d-md-inline align-self-end fw-bold mr-2">
                                Anfrage
                            </div>

                            <!-- Title text-->
                            <div class="d-none d-md-inline col-3 fw-bold text-left no-overflow " style="z-index:2; background-color:#E8E9F3">
                                Titel
                            </div>

                            <!-- Date -->
                            <div class="col-1 d-none d-md-inline align-self-end fw-bold ">
                                Erstellt
                            </div>


                            <!--Bookmark -->
                            <div class="col-1 d-none d-sm-inline align-self-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                    <title>Um Lesezeichen zu Bearbeiten Ticket öffnen</title>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                            </div>



                            <!-- Category -->
                            <div class="col-2 d-none d-md-inline align-self-end fw-bold badge rounded-pill info-category-badge "
                                 style="margin:0px 10px; color:white;"
                            >
                                Kategorie
                            </div>

                            <!-- Priority -->
                            <div class="d-inline col-1 d-none d-md-inline align-self-end fw-bold " sec:authorize="hasRole('ROLE_ADMIN')">
                                Priorität
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:each="ticket: ${tickets}" id="innerWindowTickets">
            <a th:href="@{/ticket/expand(id=${ticket.ticketID})}" id="ticketBox" href="#"
               class="list-group-item list-group-item-action list-group-item-light mb-2">
                <div class="d-flex justify-content-between">
                    <div class="container-fluid">
                        <div class="row justify-content-evenly">
                            <!-- Mobile status dots -->
                            <div th:if="${ticket.status.getDisplayValue() == 'Offen'}"
                                 class="d-inline col-2 d-md-none align-self-start dot openBadge"
                                 title="Offen"></div>
                            <div th:if="${ticket.status.getDisplayValue() == 'In Bearbeitung'}"
                                 class="d-inline col-2 d-md-none align-self-start dot progressBadge"
                                 title="In Bearbeitung"></div>
                            <div th:if="${ticket.status.getDisplayValue() == 'Erledigt'}"
                                 class="d-inline col-2 d-md-none align-self-start dot finishedBadge"
                                 title="Erledigt"></div>
                            <!-- Desktop status -->
                            <div th:if="${ticket.status.getDisplayValue() == 'Offen'}"
                                 class="col-2 d-none d-md-inline align-self-start openBadge badge">Offen
                            </div>
                            <div th:if="${ticket.status.getDisplayValue() == 'In Bearbeitung'}"
                                 class="col-2 d-none d-md-inline align-self-start progressBadge badge">In Bearbeitung
                            </div>
                            <div th:if="${ticket.status.getDisplayValue() == 'Erledigt'}"
                                 class="col-2 d-none d-md-inline align-self-start finishedBadge badge">Erledigt
                            </div>


                            <!-- Status Timestamp, will only be displayed in Desktop Version-->
                            <div th:if="${ticket.getLastRequest() != null}"
                                 class="col-1 d-none d-md-inline align-self-end" style="font-weight:bold"
                                 title="Status angefragt">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                </svg>
                            </div>
                            <div th:if="${ticket.getLastRequest() == null}"
                                 class="col-1 d-none d-md-inline align-self-end" style="font-weight:bold"
                                 title="Status nicht angefragt">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </div>



                            <!-- Ticket Title Text Mobile -->
                            <div th:text="${'[#' + ticket.ticketID + ']' + ' ' + ticket.title}"
                                 class="d-md-none col-6 fw-bold text-left no-overflow"></div>

                            <!-- Ticket Title Text Desktop -->
                            <div th:text="${'[#' + ticket.ticketID + ']' + ' ' + ticket.title}"
                                 class="d-none d-md-inline col-3 fw-bold text-left no-overflow"></div>


                            <!-- Creation Date, smaller Desktop View -->
                            <div th:text="${#dates.format(ticket.getDate(), 'dd.MM.')}"
                                 class="col-1 d-none d-md-inline d-lg-none align-self-end">
                            </div>

                            <!-- Creation Date, xl Desktop View -->
                            <div th:text="${#dates.format(ticket.getDate(), 'dd.MM.yyyy')}"
                                class="col-1 d-none d-lg-inline align-self-end" >
                            </div>


                            <!--Bookmark -->
                            <div th:if="${ticket.getBookmark().contains(currentUser)}" id="bookmark" class="col-1 d-none d-sm-inline align-self-start">
                                <form class="no-style" method="post" th:action="@{/setBookmark(id=${ticket.ticketID})}" href="#">
                                    <button type="submit" name="submit" value="value" data-toggle="tooltip" data-placement="bottom" title="Klicken um Lesezeichen zu setzen/löschen" class="no-style" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                            <title>Klicken um Lesezeichen zu setzen/löschen</title>
                                        </svg>
                                    </button>
                                </form>
                            </div>

                            <div th:if="${!ticket.getBookmark().contains(currentUser)}"id="noBookmark" class="col-1 d-none d-sm-inline align-self-start">
                                <form class="no-style" method="post" th:action="@{/setBookmark(id=${ticket.ticketID})}">
                                    <button type="submit" name="submit" value="value" data-toggle="tooltip" data-placement="bottom" title="Klicken um Lesezeichen zu setzen/löschen"  class="no-style">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <title>Klicken um Lesezeichen zu setzen/löschen</title>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>


                            <!-- Mobile category dots -->
                            <div th:if="${ticket.category.getDisplayValue() == 'Inaktivität'}"
                                 class="d-inline col-2 d-md-none align-self-end dot inactivityBadge"
                                 title="Inaktivität"></div>
                            <div th:if="${ticket.category.getDisplayValue() == 'Technisches Problem'}"
                                 class="d-inline col-2 d-md-none align-self-end dot technicalBadge"
                                 title="Technisches Problem"></div>
                            <div th:if="${ticket.category.getDisplayValue() == 'Sonstiges'}"
                                 class="d-inline col-2 d-md-none align-self-end dot elseBadge"
                                 title="Sonstiges"></div>

                            <!-- Desktop categories -->
                            <div th:if="${ticket.category.getDisplayValue() == 'Inaktivität'}"
                                 th:text="${ticket.category.displayValue}"
                                 class="col-2 d-none d-md-inline align-self-end badge rounded-pill inactivityBadge"></div>
                            <div th:if="${ticket.category.getDisplayValue() == 'Technisches Problem'}"
                                 th:text="${ticket.category.displayValue}"
                                 class="col-2 d-none d-md-inline align-self-end badge rounded-pill technicalBadge no-overflow"></div>
                            <div th:if="${ticket.category.getDisplayValue() == 'Sonstiges'}"
                                 th:text="${ticket.category.displayValue}"
                                 class="col-2 d-none d-md-inline align-self-end badge rounded-pill elseBadge"></div>


                            <!--- Mobile Priority Triangles -->
                            <div th:if="${ticket.priority.getDisplayValue() == 'Sehr Wichtig'}"
                                 style="font-weight:bold"
                                 class="d-inline col-1 d-md-none align-self-end   " sec:authorize="hasRole('ROLE_ADMIN')"
                                 title="Hoch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                                    <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </div>
                            <div th:if="${ticket.priority.getDisplayValue() == 'Wichtig'}"
                                 style="font-weight:bold"
                                 class="d-inline col-1 d-md-none align-self-end   " sec:authorize="hasRole('ROLE_ADMIN')"
                                 title="Mittel">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                                </svg>
                            </div>
                            <div th:if="${ticket.priority.getDisplayValue() == 'Unwichtig'}"
                                 style="font-weight:bold"
                                 class="d-inline col-1 d-md-none align-self-end   " sec:authorize="hasRole('ROLE_ADMIN')"
                                 title="Niedrig">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                </svg>
                            </div>

                            <!--- Desktop priority -->
                            <div th:if="${ticket.priority.getDisplayValue() == 'Sehr Wichtig' }"
                                 style="font-weight:bold"
                                 class="d-inline col-1 d-none d-md-inline align-self-end " sec:authorize="hasRole('ROLE_ADMIN')">Hoch
                                </div>
                            <div th:if="${ticket.priority.getDisplayValue() == 'Wichtig'}"
                                 style="font-weight:bold"
                                 class="d-inline col-1 d-none d-md-inline align-self-end   " sec:authorize="hasRole('ROLE_ADMIN')">Mittel
                                </div>
                            <div th:if="${ticket.priority.getDisplayValue() == 'Unwichtig'}"
                                 style="font-weight:bold;"
                                 class="d-inline col-1 d-none d-md-inline align-self-end   " sec:authorize="hasRole('ROLE_ADMIN')">Niedrig
                                </div>


                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>
</div>
</body>
</html>