<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <b> Das ist unsere Test Seite</b>
</head>

<body>
    <div> Einen neuen User anlegen: </div>
    <form th:action="@{/input}" th:object="${user}" method="post">
        <label for="username">User name:</label>
        <input type="text" id="username" placeholder="name" field="*{username}" name="username" /> <br>
        <label for="password">Password:</label>
        <input type="text" id="password" placeholder="password" field="*{password}" name="password" /> <br>
        <button th:text="Submit" th:type="submit" />
    </form>
</body>

<script>

</script>

</html>