<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="innerWindow" style="margin-top: 12%">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <li class="list-group-item"
        style="border-left-color: black;
        border-right-color: black;
        border-top-color: black;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-width: 1.5px;
        background-color: gray;"> Navigation </li>
<div class="container-fluid" style="border: 2px solid black; border-color: black;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
    <div class="list-group" style="margin-bottom: 10px">
        <a style="margin-top: 10px;  border-color: black; border-radius: 10px; border-width: 1.5px" href="#" class="list-group-item list-group-item-action list-group-item-light">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><span class="badge bg-success rounded-pill; ">Fertig</span> [#1234] DarkoCutokovic antwortet nicht</div>
            </div>
        </a>
        <a style="margin-top: 10px;  border-color: black; border-radius: 10px; border-width: 1.5px" href="#" class="list-group-item list-group-item-action list-group-item-light">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><span class="badge bg-danger rounded-pill; ">Offen</span> [#1234] DarkoCutokovic antwortet nicht</div>
            </div>
        </a>
        <a style="margin-top: 10px;  border-color: black; border-radius: 10px; border-width: 1.5px" href="#" class="list-group-item list-group-item-action list-group-item-light">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><span class="badge bg-warning rounded-pill;">Bearbeitung</span> [#1234] DarkoCutokovic antwortet nicht</div>
            </div>
        </a>
    </div>
</div>
</ul>
</div>
</body>
</html>