<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Ticketsystem - Login</title>
    <link rel="stylesheet" th:href="@{/css/design.css}">

</head>
<body>
<div th:insert="fragments/navbarFragments::navbarLogin"></div>

<div class="row justify-content-center" style=" margin-top: 100px">
    <div class="col-5">
        <div class="list-group-item d-flex justify-content-center top-bar-text" style="
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-width: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #272635;">
            <span style="font-weight: bold; color:white;">Login</span>
        </div>
        <div class="container-fluid bottom-bar" style="
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;">
            <div id="header" class="row">
            </div>
            <div id="form" class="row">
                <div class="col box-border">
                    <form name="f" th:action="@{/login}" method="post">
                        <div class="row form-group box-format" style="margin-bottom:2%;">
                            <label for="username" id="usernameLabel"
                                   style="overflow:hidden; text-align: center; margin-top:2%;">Username</label>
                            <input type="text" class="form-control input-field" id="username" name="username"
                                   placeholder="" style="text-align: center;">
                            <label for="password" id="passwordLabel"
                                   style="overflow:hidden; text-align: center; margin-top:2%;">Passwort</label>
                            <input type="password" class="form-control input-field" id="password" name="password"
                                   placeholder="" style="text-align: center;">
                        </div>
                        <div class="form-actions d-flex justify-content-center" style="margin-bottom:2%;">
                            <button th:type="submit" th:text="Login" class="btn" style="background-color: #A6A6A8;border-color: #A6A6A8;border-radius: 10px;color: white;">Log In</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>